{% extends "Layout.html.twig" %}
{% block content %}
    <ul>
        {% for link in submissions %}
            <a href="{{ link.url }}">{{ link.title }}</a>
            <small>Submitted by: <b>{{ link.author }}</b></small>
        {% endfor %}
    </ul>
{% endblock %}