{% extends 'Layout.html.twig' %}

{% block content %}
    {% include 'FlashMessages.html.twig' %}
    <form method="post" action="">
        <label for="nickname">Nickname</label>
        <input type="text" id="nickname" name="nickname"><br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password"><br>
        <input type="hidden" name="token" value="{{ get_token('registration') }}">
        <input type="submit" value="Register">
    </form>
{% endblock %}